---
layout: 'main'
title: 'Blog'
---
div.container
	h2
		span.title Blog
div.container.thin
	- var collection = getCollection('posts').sortArray({'date':-1})
	ul.posts-listing
		- for (var i=0; i<collection.length;i++)
				- var document = collection[i]
					- if (document.relativeBase.indexOf("index") == -1) //avoid listing this index
						li.post-listing
							h3.post-title
								a.title(href="#{document.url}")=document.title
							dl.post-meta
								dt
									span.title Published on
								dd.date
									time.entry-date(datetime=document.date)=document.date
								dt
									span.title Tags
								dd.tags=document.tags
								dt
									span.title Written by
								dd.author=document.author
							p.excerpt=document.description