---
layout: 'main'
title: 'API'
---

div.container.api-index

	- var collection = getCollection('documents').sortArray({'relativeBase':1})

	div.api-listing
		h2
			span.title API Protocol - v1
		div.well
			ul.nav.nav-list
				li.nav-header
					a(href="#api-introduction") Introduction
				li.nav-section
					a(href="#api-intro-what") What is this?
				li.nav-section
					a(href="#api-intro-why") Why use it?

				li.nav-header
					a(href="#api-calls") API Calls
					- for(var i=0;i<collection.length;i++) //document in collection
						- var document = collection[i]
						- if (document.url.indexOf('/api/endpoints') == 0)
							- var title = document.relativeBase.replace("api/endpoints/","")
							li.nav-section
								a(href="##{document.slug}") /#{title}

	div.api-endpoints-container
		div#api-introduction.api-introduction
			h3
				span.title Introduction

			h4#api-intro-what
				span.title What is this?
			p What is it information

			h4#api-intro-why
				span.title Why use it?
			p Why use it?
		h3#api-calls
			span.title API Calls
		- for(var i=0;i<collection.length;i++) //document in collection
			- var document = collection[i]
			- var slug = document.slug
			- var responseSlug = slug.replace("endpoints","responses")
			- var response = getFile({'slug': responseSlug})
			- if (document.url.indexOf('/api/endpoints') == 0)
				- var title = document.relativeBase.replace("api/endpoints/","")
				h4.api-endpoint(id="#{document.slug}")
					span.title /#{title}
				div.well
					dl.api-definition
						dt
							span.title Method
						dd=(document.method || "?")
						- if(document.required)
							dt
								span.title Required Fields
							dd=document.required.join(", ")
						- if(document.optional)
							dt
								span.title Optional Fields
							dd=document.optional.join(", ")
						dt
							span.title Description
						dd!=document.contentRendered
						- if(response)
							dt
								span.title Expected Response Format
							dd
								pre
									code=response.attributes.content