!!!
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title=getPreparedTitle()

		meta(name='description', content='#{getPreparedDescription()}')
		meta(name='keywords', content='#{getPreparedKeywords()}')
		meta(name='author', content='#{getPreparedAuthor()}')

		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://www.postcardsocial.net/")
		meta(property="og:site_name", content="Postcard")
		meta(property="og:image", content="http://www.postcardsocial.net/images/logo-icon-blue@2x.png")
		meta(property="og:title", content="Postcard - Write once, share everywhere. Even your own website.")
		meta(property="og:description", content="Postcard is built to improve the way we share to social media. It is your social sharing multi-tool.")

		link(rel="icon", type="image/png", href="/favicon.png")
		link(rel='stylesheet', href='/styles/style.css')
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800',rel='stylesheet',type='text/css')

		!= getBlock('scripts').toHTML()

	body(class="#{document.slug}")
		header
			div.container#header-menu
				h1
					a(href="/")
						span.title Postcard
						- if(document.slug == 'index')
							img.title-img(src="/images/logo-icon@2x.png")
						- else
							img.title-img(src="/images/logo-icon-blue@2x.png")

				nav
					ul.main-nav
						li.main-nav-item
							a.value(href="/") Home
						li.main-nav-item
							a.value(href="/docs/") Documentation
						li.main-nav-item
							a.value(href="/wordpress-plugin/") WordPress Plugin
						li.main-nav-item
							a.value(href="/posts/") Blog

					a.menu-button.open(href="#header-menu")
						span.title Menu

					a.menu-button.close(href="#")
						span.title Close

		section#content.content!=content

		footer
			div.container
				h5.footer-title
					span.title Postcard
				ul.footer-nav
					li.nav-item
						a(href="/") Home
					li.nav-item
						a(href="/docs/") Documentation
					li.nav-item
						a(href="/wordpress-plugin/") WordPress Plugin
					li.nav-item
						a(href="/posts/") Blog
					li.nav-item
						a(href="https://s3.amazonaws.com/postcard-social/postcard-media-kit.zip") Media Kit

				span.copyright &copy; Kyle Newsome 2014
				span.github-mention
					| This website is open source and
					a(href="https://github.com/bitwit/postcardsocial.net") &nbsp;available on GitHub

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/scripts/script.js')
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11047565-14']);
			_gaq.push(['_setDomainName', 'postcardsocial.net']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();