---
layout: 'main'
---

div#post.post.container
	h2
		span.title!=document.title
	div.post-meta
		dt.date Date
		dd.date
			a(href="http://blog.postcardsocial.net/what-if-email-had-never-been-standardized/", title="Permalink to What if email had never been standardized?")
				- console.log(document.date.toString('d'))
				time.entry-date(datetime=document.date)=document.date
		dt.tags Tags
		dd.tags=document.tags
		dt.author Author
		dd.author=document.author
	p!=content