---
layout: 'main'
---

div.container
	h2
		span.title Blog
div#post.post
	div.container.thin
		h2
			span.title!=document.title
		dl.post-meta
			dt
				span.title Published on
			dd.date
				time.entry-date(datetime=document.date)=document.date
			dt
				span.title Tags
			dd.tags=document.tags
			dt
				span.title Written by
			dd.author=document.author
		div.post-content!=content